
body {
  padding:0;
  margin:0;
}


ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  font-size: 18px;
  margin: 16px;
}

.header a {
  color: #C1292E;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

.header-logo {
  width: 10%;
  box-sizing: border-box;
}

.first-section {
  display:flex;
  background-color: #d43024;
  padding:16px;
  align-items: center;
  margin-bottom: 80px;
}

.description {
  color: white;
  font-family: Verdana, sans-serif;
}

.description h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 0;
}

.image-first {
  width: 550px;
  height: auto;
  margin-left: auto;
  border-radius:5%;
}

.button {
  background-color: #FEFEE3;
  border: none;
  color: black;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  opacity: 0.5;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.learn-about {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  color: #b3271d;
  margin-top:2em;
}

.info-jugadores {
  display: flex;
  gap: 16px;
  justify-content: space-around;
  align-items: stretch;
}

.info {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  padding: 8px;
  background-color: #b01f17;
  border-radius: 5%;
  box-shadow: 10px 10px 5px #787774;
  margin-bottom: 120px;
}

.info .text-quote {
  text-align: center;
  color: white;
  font-weight: 600;
}

.info .player {
  align-self: flex-end;
  color: white;
  font-weight: 300;
}

.portrait {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.quote-section {
  background-color: #e5e7eb;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.quote-section q{
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  width: 500px;
  margin-bottom: 16px;
}

.badbunny {
  font-weight: 900;
  margin-left: 500px;
}

.signup-section {
  display: flex;
  justify-content:center;
  margin: 32px 0px;
}

.signup-card {
  padding: 20px;
  background-color: #d1081c;
  display: flex;
  align-items: center;
  width: 600px;
  border-radius: 5%;
  justify-content:space-between;
}


.text-signup {
  color: white;
}

.text-big {
  font-size: 28px;
  font-weight: 700;
}

.text-register {
  font-size: 12px;
  font-weight: 400;
}

.signup-card .button {
  background-color: #FEFEE3;
  border: none;
  color: black;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  padding: 5px 10px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #d43024;
  font-weight: bold;
  color: white;
  text-align: center;
}
